*{
    background-color: #202337;
    margin: 10px;
}

nav{
    text-align: right;
    
}
header a{
    padding: 20px;
    color: #FFFFFF;
    text-decoration:  none;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
 header a:hover{
    color: #FE4B57;
}


main{
    margin: 20px ;
    padding: 50px;

}
section h1,h2{
    color: #FFFFFF;
    font-size:xx-large;
    font-size: 70px;
}
section p{
    color: #FFFFFF;
    font-size: 20px;
}
aside img{
    border-radius: 250px;
    width: 350px;
    height: 350px;
    
}
aside h2{
    color: #FFFFFF;
}

.apresentacao{
    margin-top: 10%;
    margin-bottom: 20%;
}
.repositorio{
    margin-top: 20%;
    margin-bottom: 20%;
}
.gitMain{
    background-color: #FE4B57;
    color: #FFFFFF;
    text-decoration:  none;
    font-family: Roboto;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    line-height: 100px;

}

.main01 {
    display: flex;
    justify-content: center;
}

.projects {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;

}

.projects .project{
    width: 100%;
    background-color: #272B40;
    border-radius: 20px;
    text-align: justify;

}
.projects .project h2{
    background-color: #272B40;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-family:  'Segoe UI';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;

}

.projects .project a{
   text-decoration: none;
}

.projects p{
    font-family:  'Segoe UI';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    color: #FFFFFF;
    background-color: #272B40;


}
.redes-grid  {
    display: flex;
    justify-content: center;
}
.redes{
    width: 50px;
    height: 50px;
    margin-left: 5%;
    background-color: #272B40;

}


.habilidades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
.containerHabilidades{
    margin-top: 20%;
    margin-bottom: 20%;

}
.card{
    margin: 10%;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:  justify;
    border-radius: 20px;
    background-color: #272B40;
}

.inHabilidades{
    color: #FFFFFF;
    background-color: #272B40;

}


