*{
    background-color: #202337;
    margin: 10px;
}

nav{
    text-align: right;
    
}
header a{
    padding: 20px;
    color: #FFFFFF;
    text-decoration:  none;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
 header a:hover{
    color: #FE4B57;
}


main{
    margin: 20px ;
    padding: 50px;

}
section h1,h2{
    color: #FFFFFF;
    font-size:xx-large;
    font-size: 70px;
}
section p{
    color: #FFFFFF;
    font-size: 20px;
}
aside img{
    border-radius: 250px;
    width: 350px;
    height: 350px;
    
}
aside h2{
    color: #FFFFFF;
}

.apresentacao{
    margin-top: 10%;
    margin-bottom: 20%;
}
.repositorio{
    margin-top: 20%;
    margin-bottom: 20%;
}
.gitMain{
    background-color: #FE4B57;
    color: #FFFFFF;
    text-decoration:  none;
    font-family: Roboto;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    line-height: 100px;

}

.buttonFilter{
    background-color: #FE4B57;
    color: #FFFFFF;
    text-decoration:  none;
    font-family: Roboto;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
}

.main01 {
    display: flex;
    justify-content: center;
}
.left{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    color: #FE4B57;
    cursor: pointer;
    border: none;
}

.right{
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    color: #FE4B57;
    cursor: pointer;
    border: none;

}

.contarinerProjects{
    position: relative;
    padding: 15px;

}

.projectsWrapper{
    overflow-x: auto;
}

.projectsWrapper::-webkit-scrollbar {
    display: none;
  }

  .projects {
    display: flex;
    gap: 15px;
    width: 1280px;
    justify-content: space-between;
}

.projects .project {
    background-color: #FE4B57;
    flex: 1; /* Esta propriedade permite que as divs cresçam e ocupem o espaço disponível */
    height: 250px;
    border-radius: 20px;
    text-align: justify;
}
.projects .project h2{
    background-color: #FE4B57;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-family:  'Segoe UI';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    width: 450px;
    word-wrap: break-word;
}

.projects .project a{
   text-decoration: none;

}

.projects p{
    font-family:  'Segoe UI';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    color: #FFFFFF;
    background-color: #FE4B57;
}

.redes-grid  {
    display: flex;
    justify-content: center;
}
.redes{
    width: 50px;
    height: 50px;
    margin-left: 5%;
    background-color: #272B40;

}


.habilidades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;


}
.containerHabilidades{
    margin-top: 20%;
    margin-bottom: 20%;

}
.card{
    margin: 10%;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:  justify;
    border-radius: 20px;
    background-color: #272B40;
}

.inHabilidades{
    color: #FFFFFF;
    background-color: #272B40;

}


