@import url('//fonts.googleapis.com/css?family=Ultra');
body{
    margin: 0;
    padding: 0;
    background-color: #081C15;
}

h1 { 
    font-family: Ultra; 
    font-size: 26px; 
    text-align: center;
    font-weight: 400; 
    line-height: 33.35px; 
} 

img{
    border-radius: 250px;
    width: 250px;
    height: 250px;
    
}

.container-main{
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
}



.container-perfil {
    width:30%;
    padding:20px;
    background-color: #DBF2E3;
    border-radius: 20px;
    padding: 20px;
    max-width: 450px;
    max-height: 890px;
    margin-bottom: 10px;
    color : #245741;
    text-align: center;

}
.redes-grid  {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(50px, 1fr));

}

.redes{
    background-color: var(--rose);
    color: var(--container-color);
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 600;
    width: auto;
    border-radius: 20px;
}
.tech-grid {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(80px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}

.tech {
    background-color: #245741;
    color: #ffffff;
    padding: 12px 15px 12px 15px;
    font-size: 21px;
    font-weight: 300;
    
    width:auto;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

main {
    width: 70%;
    padding:20px;
    margin-right: 20px;
}

main h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    color: #DBF2E3;
}

.sobre-mim p{
    font-family:  'Segoe UI';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #DBF2E3; 
}

.projects {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}


.projects .project h2{
    margin-bottom: 20px;
    font-family:  'Segoe UI';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color: #DBF2E3; 
}

.projects p{
    color: #DBF2E3; 
    font-family:  'Segoe UI';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
a{
     text-decoration: none;
     color: var(--font-color);
}

@media (max-width: 1024px){
    body{
        margin: 0 auto;
    }
    .container-main{
        flex-direction: column;
        padding:0;
        margin:0 auto;
    }

    aside{
        width: 90%;
        
    }

    main{
        width: 90%;
    }


}
